textarea {
    width: 100%;
    resize: none;
    height: 200px;
    border:solid 1px blue;
    background-color: aliceblue;
}

button {
    width: 80px;
    height: 80px;
    background-color: black;
    font-size: 22px;
    color: white;
    border: 0;
    margin: 1px;
  }

  .keyboard {
    width: 984px;
    height: 414px;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    border: 2px solid black;
    margin: 0 auto;
  }

  #backspace {
    width: 160px;
    height: 162px;
  }

  #caps {
    width: 242px;
    height: 80px;
  }
  #shift {
    width: 242px;
    height: 80px;
  }
  #space {
    width: 484px;
    height: 80px;
  }
  #ok {
    width: 242px;
    height: 80px;
  }
  #enter{
    width: 242px;
    height: 80px;
  }

  .flex-wrapper-0 {
    flex-direction: column;
    float: left;
  }
  .flex-wrapper-1 {
    flex-direction: row;
    float: left;
  }
  .flex-container-1 {
    display: flex;
  }
  .flex-container-2 {
    display: flex;
  }
  .flex-wrapper-2 {
    flex-direction: column;
    float: left;
  }
  .flex-wrapper-3 {
    flex-direction: row;
    float: left;
  }
  .flex-container-4 {
    display: flex;
  }
  .flex-container-5 {
    display: flex;
  }
